@using ins_tech_frontend_coding_task_blazor.Services

@inject ins_tech_frontend_coding_task_blazor.Services.BoardState BoardState
@implements IDisposable

<div class="anchorage">
    <div class="anchorage__title">
        Anchorage area (@BoardState.AnchorageDimensions.Width x @BoardState.AnchorageDimensions.Height)
        @if (_dragOver && BoardState.DraggingVessel is not null)
        {
            <span>Dragging top left corner: (@_dragX:@_dragY)</span>
        }
    </div>
    
    <div class="anchorage__grid-wrapper">
        <div 
            class="anchorage__grid"
            style="@GridStyle"
            @ondragenter="OnDragEnter"
            @ondragleave="OnDragLeave"
            @ondragover:preventDefault="true"
            @ondragover="OnCellDragOver"
            @ondrop="() => {
                BoardState.PlaceVessel(_dragX, _dragY);
                BoardState.EndDrag();
            }"
        >
            @if (_dragOver && BoardState.DraggingVessel is not null && BoardState.CanPlaceVessel(BoardState.DraggingVessel, _dragX, _dragY))
            {
                <div
                    class="vessel-placement"
                    style="
                        left: @(BoardState.CellSizePx * _dragX)px;
                        top: @(BoardState.CellSizePx * _dragY)px;
                        width: @(BoardState.CellSizePx * BoardState.DraggingVessel.Width)px;
                        height: @(BoardState.CellSizePx * BoardState.DraggingVessel.Height)px;
                    "
                />
            }
            @foreach (var placement in BoardState.VesselPlacements.Values)
            {
                var placementStyle =
                    $"width: {placement.Vessel.Width * BoardState.CellSizePx}px;" +
                    $"height: {placement.Vessel.Height * BoardState.CellSizePx}px;" +
                    $"left: {placement.X * BoardState.CellSizePx}px;" +
                    $"top: {placement.Y * BoardState.CellSizePx}px;";
                
                <VesselCard
                    @key="placement.Vessel.Id"
                    VesselModel="placement.Vessel"
                    CardTarget="VesselLocation.Anchorage"
                    SX="@placementStyle"
                />
            }
        </div>
    </div>
</div>

@code {
    private string GridStyle =>
        $"width: {BoardState.AnchorageDimensions.Width  * BoardState.CellSizePx}px;" +
        $"height: {BoardState.AnchorageDimensions.Height * BoardState.CellSizePx}px;";

    
    protected override void OnInitialized()
    {
        BoardState.Changed += OnBoardChanged;
    }

    private void OnBoardChanged() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        BoardState.Changed -= OnBoardChanged;
    }

    private bool _dragOver = false;
    private int _dragX = 0;
    private int _dragY = 0;
    private bool _renderScheduled = false;

    private void OnDragEnter()
    {
        _dragOver = true;
        InvokeAsync(StateHasChanged);
    }

    private void OnDragLeave()
    {
        _dragOver = false;
        InvokeAsync(StateHasChanged);
    }

    private void OnCellDragOver(MouseEventArgs e)
    {    
        if (BoardState.DraggingVessel is null) return;

        var x = (int)((e.OffsetX - BoardState.DraggingVesselOffsetX) / BoardState.CellSizePx);
        var y = (int)((e.OffsetY - BoardState.DraggingVesselOffsetY)  / BoardState.CellSizePx);
        
        if (x == _dragX && y == _dragY) return;

        _dragX = x;
        _dragY = y;

        InvokeAsync(StateHasChanged);
    }
}
