@using ins_tech_frontend_coding_task_blazor.Services

@inject ins_tech_frontend_coding_task_blazor.Services.BoardState BoardState
@implements IDisposable

<div class="vessel-pool">
    <div class="vessel-pool__title">Vessel pool (@BoardState.VesselGroups.Count)</div>
 
    <div class="vessel-groups-wrapper">
        @foreach (var group in BoardState.VesselGroups)
        {
        <div class="vessel-group">
            <div class="vessel-group__title">
                @group.ShipDesignation (@group.Vessels.Count)
            </div>
            <div class="vessel-group__list">
                @foreach (var vessel in group.Vessels)
                {
                    <div class="vessel"
                        @key="vessel.Id"
                        style="@GetVesselStyle(vessel)"
                        title="@($"{group.ShipDesignation} ({vessel.Width}×{vessel.Height})")"
                    >   
                        <div draggable="true"
                            class="vessel__badge@(vessel.Width == 1 ? " vessel__badge--vertical" : "")"
                            @ondragstart="() => BoardState.BeginDrag(vessel)"
                            @ondragend="BoardState.EndDrag"
                        >
                           ⠿ @vessel.Width×@vessel.Height
                        </div>
                    </div>
                }
            </div>
        </div>
        }
    </div>
</div>

@code {
    private static string GetVesselStyle(Vessel vessel) =>
        $"width: calc({vessel.Width} * var(--cell-size));"+
        $"height: calc({vessel.Height} * var(--cell-size));";

    protected override void OnInitialized()
    {
        BoardState.Changed += OnBoardChanged;
    }

    private void OnBoardChanged() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        BoardState.Changed -= OnBoardChanged;
    }
}
